/* for detail widget tabs*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-top: 3px solid #ff9900;
}
/*
 stickem css, jQuery-Stickem 
.stickem-container {
  position: relative;
}

.stickit {
    margin-left: 660px;
    position: fixed;
    top: 0;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    right: 0;
}
.aside {
	background: #cecece;
	float: right;
	padding: 20px;
	padding: 0 20px;
	width: 260px;
}*/
